*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: $fontSize;

  @include notebook {
    font-size: 16px;
  }
}

body {
  background-color: $white;
  color: $primary;
  font-family: $font;
  line-height: 2em;

  @include tablet {
    line-height: 1.5em;
  }

  &.header-get-padding {
    padding-top: 107px;
  }
}

ul,
ol {
  padding-left: 1.1em;

  li {
    margin-bottom: .7em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

p {
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

button,
textarea,
select,
input,
code,
tt,
pre {
  font-family: $font;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $primary;
  transition: color .3s ease;

  &:hover,
  &:focus {
    color: $accent;
  }
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  width: calc(100% - 280px);

  @include desktop {
    width: calc(100% - 140px);
  }

  @include maxwidth(1100px) {
    width: calc(100% - 30px);
  }
}


.icon-text {
  display: flex;
  align-items: center;
  font-size: 1.26rem;
  font-weight: 500;
  margin-bottom: 0;

  &__icon {
    max-height: 38px;
    object-fit: contain;
    object-position: center;
    margin-right: 0.75rem;
  }
}

.rounded-link {
  height: 54px;
  border-radius: 100px;
  border: 2px solid $white;
  outline: 0;
  padding: 0 17px;
  display: flex;
  align-items: center;
  font-size: .9rem;
  font-weight: bold;

  &__icon {
    max-height: 30px;
    max-width: 30px;
    object-fit: contain;
    object-position: center;
    margin-left: .65rem;
  }
}

h1,
h2,
h3 {
  margin-bottom: .4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  line-height: 1.2em;
}

h1 {
  font-size: 5rem;

  @include notebook {
    font-size: 4rem;
  }

  @include tablet {
    font-size: 3rem;
  }
}

h2 {
  font-size: 4.2rem;

  @include notebook {
    font-size: 3rem;
  }

  @include tablet {
    font-size: 2rem;
  }
}

h3 {
  font-size: 3.2rem;

  @include notebook {
    font-size: 2rem;
  }


  @include tablet {
    font-size: 1.6rem;
  }
}

h4 {
  font-size: 2.4rem;

  @include notebook {
    font-size: 2rem;
  }


  @include tablet {
    font-size: 1.4rem;
  }
}

h5 {
  font-size: 1.8rem;

  @include notebook {
    font-size: 1.4rem;
  }


  @include tablet {
    font-size: 1.25rem;
  }
}

h6 {
  font-size: 1.4rem;

  @include notebook {
    font-size: 1.2rem;
  }


  @include tablet {
    font-size: 1.05rem;
  }
}


.image-out-box {
  position: relative;
  margin-bottom: 0;
  $this: &;

  // @include tablet {
  //   img {
  //     min-height: 400px;
  //   }
  // }

  @at-root figure#{&} {
    height: 100%;
  }

  &--left,
  &--right {
    img {
      width: calc(100% + 140px);

      @include tablet {
        width: calc(100% + 30px);
      }
    }
  }

  &--left {
    img {
      margin-left: -140px;
    }
  }

  &--right {
    img {
      margin-right: -140px;
    }
  }

  &--left,
  &--right {
    img {
      @include tablet {
        margin: 0 -15px;
      }
    }
  }

  &--middle {
    width: 100%;

    img {
      margin: 0 -140px;
      width: calc(100% + 280px);

      @include tablet {
        width: calc(100% + 30px);
        margin: 0 -15px;
      }
    }
  }

  img {
    object-fit: cover;
    object-position: center;
    display: block;
    max-width: 100vw;
    height: 100%;
  }
}

.title-has-divider {
  display: flex;
  align-items: center;

  @include tablet {
    font-size: 2rem;
  }

  &::after {
    content: '';
    height: 8px;
    background-color: $accent;
    flex: 1 1 auto;
    margin-left: 5vw;

    @include maxwidth(1100px) {
      margin-right: -30px;
    }
  }
}

.has-medium-font-size {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4em;

  @include notebook {
    font-size: 1.1rem;
  }
}

.has-large-font-size {
  font-size: 1.6rem;
  line-height: 1.56em;

  @include notebook {
    font-size: 1.2rem;
  }
}


.has-medium-line {
  line-height: 1.4em;
}

.bg-full-right {
  position: relative;

  &::before {
    content: '';
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: inherit;
    z-index: -1;
  }
}

.wp-block-columns {
  &.no-bottom-margin {
    margin-bottom: 0;
  }
}


.wp-block-columns {
  &.same-width-columns {
    .wp-block-column:not(.outside-box-image) {
      padding: 2rem;
      margin-left: 0;

      @include tablet {
        padding: 1rem 0;
      }
    }
  }
}

.space-between {
  justify-content: space-between;
}

.price {
  display: flex;
  align-items: center;

  &::before {
    content: '';
    margin-right: .4rem;
    background: url('img/icon-price.svg') center / contain no-repeat;
    width: 23px;
    height: 23px;
  }
}

.date {
  display: flex;
  align-items: center;

  &::before {
    content: '';
    margin-right: .4rem;
    background: url('img/icon-clock.svg') center / contain no-repeat;
    width: 16px;
    height: 16px;
  }
}

.hide-bars-nav {
  &::before {
    transition: opacity .3s ease;
  }

  &.hidden {
    &::before {
      opacity: 0;
    }
  }
}

.slick-arrow {
  @include arrow-next('');
  background-size: contain;
  background-position: center;
  width: 32px;
  height: 32px;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 0;

  &.slick-prev {
    transform: rotate(180deg);
  }
}

.page-content {
  margin-top: 4rem;

  &--front {
    margin-top: 0;
  }

  &-header {
    margin-bottom: 5rem;

    @include notebook {
      margin-bottom: 2rem;
    }

    &__title {
      color: $accent;
      text-transform: uppercase;
      font-size: 3.4rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include tablet {
        font-size: 2rem;
      }

      &-role {
        font-weight: 500;
      }
    }

  }

}

.breadcrumbs {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 20px;
  }
}

.wpcf7-spinner {
  display: none;
}

.wp-block-column {
  @include tablet {
    flex-direction: column;
  }
}

.reverse-mobile {
  @include tablet {
    flex-direction: column-reverse;
  }
}

.has-slimer-mobile {
  @include tablet {
    max-width: 80%;
  }
}

.slimer-mobile-title {
  @include tablet {
    font-size: 1.5rem;
  }
}

.no-bg-mobile {
  @include tablet {
    background-color: transparent !important;
  }
}

.center-button-mobile {
  @include tablet {
    justify-content: center;
  }
}

.mobile {
  display: none !important;

  @include tablet {
    display: flex!important;
  }
}


.desktop {
  @include tablet {
    display: none!important;
  }
}

.user-header {
  line-height: 1.75;

  p {
    margin-bottom: 0;

    &:first-child {
      margin-bottom: .4rem;
    }
  }
}

.upper {
  text-transform: uppercase;
}

.fb-box {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  z-index: 10000;
  right: 100%;
  top: 50%;
  transform: translateY(-50%) translateX(50px);
  transition: transform .3s ease;
  will-change: transform;
  width: 300px;

  &:hover {
    transform: translateY(-50%) translateX(300px);
  }

  &__icon {
    background-color: $accent;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    // border-radius: 10px 0 0 10px;
    &-img {
      filter: brightness(0) invert(1);
      width: 35px;
      max-height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__box {
    width: calc(100% - 50px);
    padding: 5px;
    background-color: $accent;
    border-radius: 10px;

    iframe {
      width: 100%;
    }
  }
}

.break-desktop {
  display: block;

  @include tablet {
    display: none;
  }
}

.wp-block-separator.is-style-wide {
  border-bottom: 0;
  border-width: 1px;
}

@include tablet {

  .wp-block-column:nth-child(2n) {
    margin-left: 0;
  }

  body .wp-block-column:not(:only-child) {
    flex-basis: 100% !important;
  }
}


.image-centering {
  figure {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}