body {

  .ti-reviews-container-wrapper {
    &>.ti-review-item:nth-child(n + 4) {
      display: none !important;
    }
  }

  .ti-widget-container {
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 4px 6px rgba(#000, .01);

    .ti-header {
      display: none !important;
    }
  }

  .ti-widget.ti-face .ti-review-item,
  .ti-widget.ti-goog .ti-review-item {
    border-bottom: 1px solid #eeeeee!important;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border: 0;
    background-color: transparent;
    &:nth-child(3){
      border-bottom: none!important;
    }

    &>.ti-inner {
      border: 0 !important;
    }
  }

}