.button {
  @include button;
  $btn : &;

  &:hover,
  &:focus {
    @include button-hover;
  }

  &--medium{
    height: 67px;
  }

  &--bordered{
    @include button-bordered;
  }

  &--form {
    background: url("img/list-arrow.svg") calc(100% - 1rem) center / 30px 30px no-repeat, $accent;
    padding-right: 3.2rem;
  }

  &--more{
    &::after{
      content: '';
      background: url("img/icon-more.svg") center / contain no-repeat;
      width: 27px;
      height: 6px;
      display: block;
      margin-left: 1rem;
    }

    &:hover,&:focus{
      &::after{
        filter: brightness(0) invert(1);
      }
    }
  }

  &--small{
    height: 55px;
  }

  &--visit{
    &::after{
      content: '';
      background: url("img/icon-checked.svg") center / contain no-repeat;
      width: 19px;
      height: 19px;
      display: block;
      margin-left: 1rem;
    }
  }

  &-footer{
    background-color: transparent;
    border: 0;
    outline: 0;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    font-weight: bold;
    font-size: .9rem;
    color: $primary;
    background: url("img/list-arrow.svg") 100% center / 30px 30px no-repeat;
    padding-right: 2.2rem;
    filter: brightness(0) invert(.4);
    height: 32px;
    cursor: pointer;
  }
}

.wp-block-button {

  &.is-style-outline{
    .wp-block-button__link{
      @include button-not-filled;
    }
  }

  &.has-arrow-icon {

    a {
      &::after {
        content: '';
        display: block;
        margin-left: 1rem;
        @include arrow-next( "" );
        width: 32px;
        height: 32px;
        background-position: center;
      }
    }

  }

  &.has-download-icon {

    a {
      &::before {
        content: '';
        display: block;
        margin-right: 1rem;
        background: url('img/icon-download.svg') center / contain no-repeat;
        width: 18px;
        height: 18px;
      }
    }

  }

  &.is-smedium-button{
    a{
      height: 55px;
    }
  }


  &.is-medium-button{
    a{
      @include button-medium;
    }
  }

  a {
    @include button;
    @include shadow;

    &:hover,
    &:focus {
      @include button-hover;
    }
  }
}

.wp-block-separator{
  border-width: 2px;
}