.counters {
  list-style: none;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: calc(-100% + 70px);
  z-index: 1;


  @include maxwidth(1100px) {
    right: calc(-100% + 90px);
  }

  @include tablet {
    right: calc(-100% + 60px);
    position: fixed;
    z-index: 10;
  }

  &__single {
    display: flex;
    align-items: center;
    background-color: #CCCCCC;
    color: $white;
    border-radius: 46px;
    padding: 16px 32px;
    margin-bottom: .4rem;
    width: 100vw;
    height: 94px;
    transition: transform .3s ease;

    @include tablet {
      height: 60px;
      padding: 16px;
    }

    &.hover {
      transform: translateX(-180px);

      @include tablet {
        transform: translateX(-130px);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    line-height: 1.4em;
    margin-left: 1.4em;

    &-count {
      font-size: 1.6rem;
    }

    &-title {
      font-size: .6rem;
    }
  }
}