.footer {
  margin-top: 3rem;

  &__title {
    text-transform: uppercase;
    font-weight: 800;
    color: $accent;
    font-size: 1.2rem;
    margin-bottom: 1.4rem;

    @include tablet {
      font-weight: bold;
      font-size: 1.125rem;

    }
  }

  &-info {
    text-align: center;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 500;
    margin: 1.5rem 0 !important;
  }

  &-main {
    display: flex;
    flex-direction: column;

    .order-1 {
      order: -1;
    }

    .footer__item:not([id^=reblex-widget]) {

      .wp-block-columns {
        @include desktop {
          flex-wrap: wrap;

          .wp-block-column {
            flex-basis: calc(50% - 1em) !important;

            &:last-child {
              flex-basis: 100% !important;
              margin-left: 0;
              margin-top: 1rem;
            }
          }
        }

        @include tablet {
          .wp-block-column {
            flex-basis: 100% !important;
            margin: 0 0 2rem 0 !important;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .contact-page & {
    .contact-bottom {
      order: -1;
    }
  }

}