.cf7 {
  position: relative;
  $cf: &;

  &--smallspace {
    #{$cf}-row {
      &__single {
        margin-bottom: 1.5em;
      }
    }
  }

  &-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include tablet {
      // margin-bottom: 2rem;
      flex-direction: column;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__single {
      flex-basis: 48%;
      margin-bottom: 2.9rem;

      &--full {
        flex-basis: 100%;
      }
    }

    .wpcf7-list-item {
      margin: 0;
      font-size: 1rem;

      @include tablet {
        font-size: .75rem;
      }

      label {
        cursor: pointer;
      }

      span {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        &::before {
          content: '';
          width: .8rem;
          height: .8rem;
          display: inline-flex;
          border: 1px solid $primary;
          margin-right: .5rem;
          vertical-align: middle;
          transition: all .3s ease;
        }
      }

      input[type="checkbox"] {
        position: absolute;
        left: 0;
        opacity: 0.01;

        &:checked~span::before {
          background-color: $primary;
        }
      }
    }
  }

  &--contact {
    padding-right: 10%;

    @include tablet {
      padding-right: 0;
    }

    &::before {
      content: '';
      width: 1px;
      height: 100%;
      background-color: #C6C6C6;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;

      @include tablet {
        display: none;
      }
    }

    // #{$cf}-row {
    //   margin-bottom: 2rem;
    // }
  }

  &--footer {
    #{$cf}-row {
      &__single {
        margin-bottom: 1rem;
      }
    }
  }
}

.input-field {
  width: 100%;
  height: 35px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #676767;
  font-size: .8rem;
  font-weight: 500;
  background-color: transparent;

  &.wpcf7-not-valid {
    border-color: red;
  }

  &--textarea {
    height: auto;
    min-height: 143px;
    resize: vertical;
  }
}

.wpcf7-not-valid-tip {
  display: none;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  border-color: inherit;
  font-size: 14px;
  margin-top: 1rem;
}

.wpcf7 form .wpcf7-response-output {
  margin: 2rem 0 0;
  border: 2px solid $accent;
  line-height: 1.6em;
}