.hamburger {
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  position: absolute;
  right: -105px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform .3s .1s ease-in-out;

  @include desktop{
    right: -70px;
  }

  @include maxwidth(1100px) {
    position: initial;
    top: initial;
    left: initial;
    transform: none;
    width: 48px;
    height: 48px;
    padding: 0;
    border-radius: 50%;
    background-color: $accent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__box {
    width: 47px;
    height: 24px;
    display: inline-block;
    position: relative;
    @include maxwidth(1100px) {
      width: 28px;
      height: 14px;
    }
  }

  &__inner {
    @include hamburger-line;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .1s .2s ease-in-out;

    &::before,
    &::after {
      @include hamburger-line;
      content: '';
      left: 0;
      transition: transform .2s .2s ease-in-out;
    }

    &::before {
      top: -10px;
      @include maxwidth(1100px) {
        top: -6px;
      }
    }

    &::after {
      top: 10px;
      @include maxwidth(1100px) {
        top: 6px;
      }
    }
  }

  &--active {
    .hamburger {
      &__inner {
        background-color: transparent;

        &::before {
          transform: translateY(10px) rotate(45deg);
        }

        &::after {
          transform: translateY(-10px) rotate(-45deg);
        }
      }
    }
  }
}