@keyframes sticky-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.header {
  $header: &;

  .location,
  .rounded-link{
    @include desktop{
      display: none;
    }
  }

  // .home &{
  //   .phone-number{
  //     @include desktop{
  //       display: none;
  //     }
  //   }
  // }

  .phone-number{
    @include tablet{
      height: 40px;
      border: 1px solid $white;
      background-color: $accent;
      border-radius: 100px;
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      min-width: 260px;
      font-size: 13px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      img{
        order: 0;
        height: 20px;
        margin: 0 10px;
      }
      &::after{
        content: 'Zadzwoń teraz';
        display: block;
        font-weight: bold;
        order: -1;
      }
    }
  }

  &-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: $white;
    min-height: 99px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: inherit;

    a {
      color: inherit;
    }

    &--sticky{
      position: fixed;
      animation: sticky-in .3s ease;
      &::before {
        content: '';
        @include fullWidth(full);
        z-index: -1;
        background-color: $accent;
        transition: opacity .3s ease;
      }
    }

    &:not( .has-slider-as-first ){
      &::before {
        content: '';
        @include fullWidth(full);
        z-index: -1;
        background-color: $accent;
        transition: opacity .3s ease;
      }
    }

    .has-slider-as-first & {
      &::before {
        opacity: 0;
      }
      &--bg{
        &::before{
          opacity: 1;
        }
      }

    }

  }

  &-logo {
    filter: brightness(0) invert(1);
  }
}