.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20000;
  background-color: rgba(0,0,0,.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .3s ease;
  transform: translateX(-100vw);
  &--active{
    transform: translateX(0);
  }
  &-content{
    width: 700px;
    background-color: $white;
    @include tablet{
      width: 96%;
    }
    &__header{
      background-color: $accent;
      color: $white;
      padding: 1em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-exit{
        font-size: 0;
        background: url('img/icon-exit.svg') no-repeat center center / contain;
        width: 2rem;
        height: 2rem;
        border: 0;
        outline: 0;
        filter: brightness(0) invert(1);
        cursor: pointer;
      }
    }
    &__title{
      font-size: 1.5rem;
      margin: 0 1rem 0 0;
    }
    &__form,
    &__header{
      padding: 1em;
    }
    &__form{
      margin: 1em 0;
    }
  }
}