.navigation-box {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba($accent, .9);
  top: 0;
  left: 0;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  transition: transform .3s ease, opacity .3s ease;
  transform: translateX( 100vw );
  opacity: 0;
  $nav: &;
  &--active{
    transform: translateX(0);
    opacity: 1;
  }

  &__exit {
    position: absolute;
    top: 2rem;
    right: 2rem;
    @include arrow-next('');
    height: 32px;
    width: 32px;
    text-decoration: none;
    border: 0;
    outline: 0;
    font-size: 0;
    background-position: center;
    cursor: pointer;
    transition: transform .3s ease;

    &:hover {
      transform: translateX(10px);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-transform: uppercase;
    #{$nav}__item--parent{
      position: relative;
      &>#{$nav}__link,
      &>#{$nav}__sub-link{
        position: relative;
        z-index: 2;
        &::before{
          content: '';
          width: 100vw;
          height: 3px;
          background: rgb(249,199,158);
          background: linear-gradient(90deg, rgba(249,199,158,1) 0%, rgba(241,119,39,1) 100%);
          position: absolute;
          top: 50%;
          transform: translateY( -50% ) scaleX( 0 );
          opacity: 0;
          right: calc( 100%  + 1rem);
          transform-origin: left;
          transition: transform .3s ease, opacity .3s ease;
        }
      }
      
      &.show{
        &>#{$nav}__link::before,
        &>#{$nav}__sub-link::before{
          transform: translateY( -50% ) scaleX( 1 );
          opacity: 1;
        }
      }

    }
  }

  &__sub {
    &-trigger {
      display: none;
    }

    &-list {
      list-style: none;
      display: none;
    }

  }

  &__item,
  &__sub-item {

    &.show {
      &>a {
        font-weight: bold;
      }
    }

  }

  &__link,
  &__sub-link {
    color: $white;

    &:hover,
    &:focus {
      color: $white;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.navigation-active{
  overflow: hidden;
}