@mixin hamburger-line {
  width: 100%;
  height: 3px;
  background-color: $white;
  position: absolute;
}

@mixin desktop{
  @media all and (max-width: 1200px){
    @content;
  }
}

@mixin bigger-desktop{
  @media all and (max-width: 1480px){
    @content;
  }
}

@mixin notebook{
  @media all and (max-width: 1700px){
    @content;
  }
}

@mixin tablet{
  @media all and (max-width: 800px){
    @content;
  }
}


@mixin maxwidth($width) {
  @media all and (max-width: $width){
    @content;
  }
}

@mixin fullWidth($flag){
  position: absolute;
  @if $flag == full{
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }@else if $flag == center{
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }@else if $flag == standard{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}


@mixin shadow {
  filter: drop-shadow( 0 3px 18px rgba( #000, .16 ) );
}

@mixin button{
  height: 96px;
  background-color: $accent;
  color: $white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.6rem;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-size: .9rem;
  transition: all .3s ease;
  cursor: pointer;
  border-radius: 0;
  @include tablet{
    height: 67px;
  }
}

@mixin button-hover {
  background-color: $primary;
  color: $white;
}

@mixin button-medium {
  height: 67px;
  padding: 0 1rem;
}

@mixin button-not-filled {
  border: 1px solid $white;
  &:hover,&:focus{
    background-color: $white;
    color: #000;
    &::after{
      filter: brightness(0);
    }
  }
}

@mixin button-bordered {
  background-color: transparent;
  border: 2px solid $accent;
  color: $accent;
  &:hover,&:focus{
    color: $white;
    background-color: $accent;
  }
}

@mixin arrow-next ($pre){
  background: url(  #{$pre}+ "img/list-arrow.svg") calc(100% - 1rem) center / 32px 32px no-repeat;
}