@import '../scss/utils/mixins';
@import '../scss/utils/variables';

.background {
  position: relative;
  padding: 6rem 0;
  z-index: 1;
  @include tablet{
    padding: 2rem 0;
  }
  $bg: &;

  &--image {
    #{$bg}__background {
      background-position: center;
      background-size: cover;
    }
  }

  &__background {
    @include fullWidth(full);
    z-index: -1;
  }
}