@import '../scss/utils/mixins';
@import '../scss/utils/variables';


.consultation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  @include tablet {
    flex-direction: column-reverse;
    color: $white;
  }

  &-container,
  &-image {
    position: relative;
  }

  &-container {
    flex-basis: 53%;
  }

  &-image {
    flex-basis: 47%;

    @include tablet {
      @include fullWidth(center);
    }
  }

  &-container,
  &-image {
    @include tablet {
      flex-basis: 100%;
    }
  }

  &-image {
    z-index: -1;

    @include tablet {
      &::after {
        content: '';
        background-color: rgba(#000, .5);
        @include fullWidth(full);
        display: block;
        z-index: 1;
      }
    }

    img {
      display: block;
    }
  }

  &-content {
    padding: 5rem 80px 5rem 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 820px;

    @include tablet {
      max-width: 100%;
      padding: 2rem 5rem 2rem 1rem;
    }

    p {
      line-height: 1.4em;
    }

    &__form {
      margin-top: 5rem;

      @include tablet {
        margin-top: 2rem;

        .input-field {
          border-bottom-color: $white;
          color: $white;

          &::placeholder {
            color: $white;
          }
        }
      }
    }
  }

  // &-numbers {
  //   list-style: none;
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   left: calc(100% + 30px);
  //   z-index: 1;

  //   @include desktop {
  //     left: calc(100% - 30px);
  //   }

  //   @include maxwidth(1100px) {
  //     left: calc(100% - 90px);
  //   }

  //   @include tablet {
  //     left: calc(100% - 84px);
  //     position: fixed;
  //     z-index: 10;
  //   }

  //   &__single {
  //     display: flex;
  //     align-items: center;
  //     background-color: #CCCCCC;
  //     color: $white;
  //     border-radius: 46px;
  //     padding: 16px 32px;
  //     margin-bottom: .4rem;
  //     width: 100vw;
  //     height: 94px;
  //     transition: transform .3s ease;

  //     @include tablet {
  //       height: 60px;
  //       padding: 16px;
  //     }

  //     &.hover {
  //       transform: translateX(-180px);

  //       @include tablet {
  //         transform: translateX(-130px);
  //       }
  //     }
  //   }

  //   &__content {
  //     display: flex;
  //     flex-direction: column;
  //     line-height: 1.4em;
  //     margin-left: 1.4em;

  //     &-count {
  //       font-size: 1.6rem;
  //     }

  //     &-title {
  //       font-size: .6rem;
  //     }
  //   }
  // }
}