@import '../scss/utils/mixins';
@import '../scss/utils/variables';

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.9rem;
  $gallery: &;

  @include tablet {
    &:not(.gallery--crt):not(.gallery--thumbnails) {
      width: 100vw;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }

  @include maxwidth(1200px) {
    grid-template-columns: repeat (auto-fill, minmax(220px, 1fr));
    grid-gap: 1rem;
  }

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
  }

  &--crt {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;

    @include maxwidth(1400px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include maxwidth(1100px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include tablet {
      grid-gap: .5rem;
      grid-template-columns: repeat(2, 1fr);
    }


    #{$gallery}-single {
      padding-bottom: 0;

      &__image {
        height: 380px;
        object-fit: cover;
        position: initial;
        border: 1px solid $primary;

        @include tablet {
          height: 300px;
        }

        @include maxwidth(600px) {
          height: 210px;
        }
      }
    }
  }

  &--thumbnails {
    #{$gallery}-single:first-child {
      grid-column: 1 / -1;
      padding-bottom: 50%;

      @include tablet {
        height: auto;
      }
    }
  }

  &-single {
    position: relative;
    padding-bottom: 75%;

    &:hover {
      #{$gallery}-single__check {
        opacity: 1
      }
    }

    &__check {
      @include fullWidth(standard);
      background-color: rgba($accent, .7);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: $white;
      opacity: 0;
      transition: opacity .3s ease;
      z-index: 2;
    }

    &__image {
      object-fit: cover;
      object-position: center;
      // display: block;
      // height: 320px;
      @include fullWidth(standard);
    }
  }
}