@import '../scss/utils/mixins';
@import '../scss/utils/variables';


.icon-list{
  list-style: none;
  padding-left: 0;
  font-size: 1rem;
  font-weight: 400;
  &__single{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__icon{
    width: 23px;
    height: 18px;
    object-fit: contain;
    object-position: left center;
    margin-right: .6rem;
  }
}
