@import '../scss/utils/mixins';
@import '../scss/utils/variables';

.logos {
  padding: 7.5rem 0;
  position: relative;
  $logos: &;

  @include tablet {
    padding: 5rem 0;
  }

  &::before {
    content: '';
    @include fullWidth(full);
    background-color: #FDA255;
    z-index: -1;
  } 


  &-wrapper{
    position: relative;
    padding: 0 2rem;
  }

  .slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &.slick-prev{
      left: 0;
      transform: translateY(-50%)  rotate(180deg);
    }
    &.slick-next{
      right: 0;
    }
  }


  &-single {
    display: flex !important;
    align-items: center;
    justify-content: center;

    &__image {
      max-width: 270px;
      max-height: 75px;
      object-fit: contain;
      object-position: center;
      filter: brightness(0) invert(1);
    }
  }

  &-list {
    position: relative;
    z-index: 10;


    &:not(.slick-initialized) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      grid-gap: 2.5rem;

      #{$logos}-single:nth-child(n + 5) {
        display: none;
      }
    }
  }

  &--gray {
    padding: 0;

    &::before {
      display: none;
    }

    #{$logos} {

      &-wrapper{
        padding: 0;
      }

      &-single {
        height: 260px;
        padding: 2rem 4rem;
        background-color: #F8F8F8;

        &__image {
          max-width: 100%;
          max-height: 100%;
          filter: none;
        }
      }

      &-list {
        width: 100%;
        max-width: 100%;
        padding: 0;
        grid-template-columns: repeat(3, 1fr);

        @include tablet {
          grid-template-columns: repeat(2, 1fr);
        }

        @include maxwidth( 700px ){
          grid-template-columns: 1fr;
        }
      }
    }
  }

}