@import '../scss/utils/mixins';
@import '../scss/utils/variables';

.map {
  width: 100vw;
  height: 525px;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: $primary;

  iframe {
    width: 100%;
    height: 100%;
  }
}