@import '../scss/utils/mixins';
@import '../scss/utils/variables';

.numbers-areas {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax( 300px, 1fr ) );
  grid-gap: 3rem;

  &-single {
    display: flex;
    align-items: center;

    &__content {
      display: flex;
      flex-direction: column;
      line-height: 1.2;
      color: $accent;

      &-title {
        font-size: .6rem;
        font-weight: bold;
        @include maxwidth(1100px) {
          font-size: 16px;
        }
      }

      &-number {
        font-size: 2rem;
        margin-bottom: .8rem;
        font-weight: bold;
        
      }
    }

    &__icon {
      width: 185px;
      height: 185px;
      flex-shrink: 0;
      flex-grow: 0;
      margin-right: 2rem;
      @include maxwidth(1100px) {
        width: 152px;
        height: 152px;
      }

      &-img {
        width: inherit;
        height: inherit;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}