@import '../scss/utils/mixins';
@import '../scss/utils/variables';

.patient-info{
  width: 800px;
  @include tablet{
    width: 100%;
  }
  &-single{
    &__title{
      color: $accent;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 1.2rem;
      margin-bottom: 1.6rem;
      position: relative;
      &::before{
        content: '';
        width: 100vw;
        height: 3px;
        background-color: $accent;
        position: absolute;
        top: 50%;
        transform: translateY( -50% );
        right: calc( 100% + 1rem );
      }
    }
    &__content{
      font-weight: 500;
      margin-bottom: .4rem;
    }
    &__date{
      font-size: .8rem;
    }
  }
}