@import '../scss/utils/mixins';
@import '../scss/utils/variables';

.post-picker {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
  width: 100%;

  @include maxwidth( 1100px ) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include maxwidth( 700px ){
    grid-template-columns: 1fr;
  }

  &-single {
    &__image {
      width: 100%;
      height: 350px;
      object-fit: cover;
      background-color: $primary;

      @include maxwidth(1400px) {
        height: 300px;
      }

      @include tablet {
        height: 240px;
      }

      &-thumbnail {
        object-fit: cover;
        width: 100%;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      border: 1px solid #D6D6D6;
      border-top: none;
      padding: 2rem;
    }

    &__title {
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    &__text {
      line-height: 2.5em;
      margin-bottom: 2.5rem;
    }

    &__button {
      align-self: center;
    }
  }
}