@import '../scss/utils/mixins';
@import '../scss/utils/variables';

.schedule {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax( 10rem, 1fr));
  grid-gap: 1rem 2rem;
  line-height: 1.4em;
  @include maxwidth(500px){
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  &__single {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include maxwidth(500px){
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &__title {
    margin-bottom: .7rem;
    @include maxwidth(500px){
      margin-bottom: 0;
      margin-right: .7rem;
      min-width: 140px;
    }
  }
}