@import '../scss/utils/mixins';

.separator {
  display: block;
  width: 100%;
  &-desktop{
    display: block;
    @include tablet{
      display: none;
    }
  }
  &-mobile{
    display: none;
    @include tablet{
      display: block;
    }
  }
}