@import '../scss/utils/mixins';
@import '../scss/utils/variables';

.services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  $service: &;

  &:not(&--style2) {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  &--style2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin-right: -40px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0;
      margin-right: 0;
      width: 100vw;
      margin-left: 50%;
      transform: translateX(-50%);
    }

    #{$service}-single {
      height: 240px;

      @include tablet {
        height: initial;
        padding-bottom: 30%;
      }
    }

    #{$service}-content {
      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }

      &:hover {
        &::before {
          opacity: 1;
        }

        &::after {
          opacity: 0;
        }
      }
    }
  }

  &-single {
    flex: 0 0 25%;
    position: relative;
    z-index: 1;
    height: 360px;

    @include tablet {
      flex-basis: 50%;
      padding-bottom: 50%;
      min-height: 140px;
      height: auto
    }

    &__image {
      @include fullWidth(standard);
      z-index: -2;
      object-fit: cover;
      object-position: center;
    }
  }

  &-content {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    color: $white;

    @include tablet {
      padding: 1rem;
    }

    &:hover {
      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }

    &,
    &::before,
    &::after {
      @include fullWidth(standard);
    }

    &::before,
    &::after {
      content: '';
      z-index: -1;
      transition: opacity .3s ease;
    }

    &::before {
      background-color: rgba(#000, .5);
    }

    &::after {
      opacity: 0;
      background-color: rgba($accent, .7);
    }

    &__title {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: .9rem;
      line-height: 2;
      text-align: center;

      &::after {
        content: '';
        @include arrow-next("../");
        background-position: center;
        width: 32px;
        height: 32px;
        display: block;
        margin-left: .9rem;
        flex-shrink: 0;

        @include tablet {
          display: none;
        }
      }
    }
  }

}