@import '../scss/utils/mixins';
@import '../scss/utils/variables';

.slider {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  color: $white;
  $slider: &;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 140px;
    height: 100%;
    background-color: rgba($accent, .8);
    z-index: 2;

    @include desktop {
      width: 70px;
    }

    @include maxwidth(1100px) {
      display: none;
    }
  }

  a {
    color: inherit;
  }

  &,
  &-list,
  &-single {
    min-height: 100vh;
  }

  &-list {
    &:not(.slick-initialized) {
      #{$slider}-single:not(:first-child) {
        display: none;
      }
    }

    &.slick-initialized {
      #{$slider}-single {
        display: flex !important;
      }
    }

  }

  &-single {
    position: relative;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include maxwidth(1100px) {
      padding-top: 8rem;
    }

    &__image {
      @include fullWidth(standard);
      object-fit: cover;
      object-position: center;
      z-index: -1;
    }

    &__content {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      ul {
        padding-left: 0;
        list-style: none;

        li {
          font-size: 1.2rem;
          padding: .4rem .7rem;
          position: relative;
          z-index: 1;
          cursor: pointer;
          display: flex;
          align-items: center;

          &::after {
            content: '';
            @include fullWidth(standard);
            z-index: -1;
            border: 2px solid $accent;
            border-radius: 100px;
            opacity: 0;
            transition: opacity .3s ease;
          }

          &::before {
            content: '';
            display: inline-flex;
            width: 19.25px;
            height: 19.25px;
            @include arrow-next("../");
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.25' height='19.25' viewBox='0 0 19.25 19.25'%3E%3Cpath id='Icon_ionic-ios-arrow-dropright-circle' data-name='Icon ionic-ios-arrow-dropright-circle' d='M3.375,13A9.625,9.625,0,1,0,13,3.375,9.624,9.624,0,0,0,3.375,13Zm11.314,0L10.9,9.247a.893.893,0,0,1,1.263-1.263l4.415,4.428a.892.892,0,0,1,.028,1.231l-4.35,4.364a.892.892,0,1,1-1.263-1.259Z' transform='translate(-3.375 -3.375)' fill='%23f58220'/%3E%3C/svg%3E%0A");
            margin-right: .9rem;
            background-size: contain;
            background-position: center;
            flex-shrink: 0;
            filter: invert(83%) sepia(81%) saturate(6472%) hue-rotate(313deg) brightness(110%) contrast(96%);
          }

          &:hover {


            &::before{
              filter: none;
            }

            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &-bottom {
    position: absolute;
    height: 92px;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    @include maxwidth(1100px) {
      width: 100vw;
      padding: 1rem 2rem;
    }


    &::before {
      content: '';
      @include fullWidth(standard);
      right: 0;
      width: 100vw;
      left: initial;
      background-color: rgba($accent, .8);
      z-index: -1;
    }

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;

      img {
        margin: 0 .5rem;
      }
    }

  }

  .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4rem;
    list-style: none;

    li {
      margin-right: .8rem;

      &:last-child {
        margin-right: 0;
      }

      button {
        border: 0;
        outline: 0;
        border-radius: 50%;
        font-size: 0;
        background-color: $white;
        opacity: .5;
        transition: opacity .3s ease;
        width: 8px;
        height: 8px;
        margin-bottom: 0;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }

      &.slick-active button {
        opacity: 1;
      }
    }
  }

  &-has-bar {

    #{$slider}-single {
      padding-bottom: 10rem;
    }

    .slick-dots {
      bottom: 8rem;
    }
  }


}