@import '../scss/utils/mixins';
@import '../scss/utils/variables';

.team-picker {
  .employer-divider:last-child {
    display: none;
  }

  &--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .8rem;

    @include notebook {
      grid-template-columns: repeat(2, 1fr);
    }

    @include maxwidth(600px) {
      grid-template-columns: 1fr;
    }

    .employer {

      &-single {
        flex-direction: column;
        flex-wrap: nowrap;

        &-content {
          min-height: initial;
          padding: 2rem 1.2rem 1.5rem;
          display: block;
        }

        &-image {
          width: 100%;
        }

        &-buttons {
          @include tablet {
            margin-bottom: 0;
            margin-top: 2rem;
            padding-top: 1rem;
            border-top: 1px solid $accent;
          }
        }

        &-header {
          margin: 0;
          padding: 0;


            &__title {
              font-size: 1.2rem;
              @include tablet {
              font-size: 2rem;
              }
            }
          

          &::after {
            display: none;
          }
        }

      }

    }
  }
}

.employer {
  &-single {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F7F7F7;
    line-height: 1.4em;

    &-image,
    &-content {
      min-height: 500px;

      @include tablet {
        min-height: initial;
      }
    }

    &-image {
      flex: 0 0 25%;
      position: relative;

      &__thumbnail {
        object-fit: cover;
        object-position: center;
        @include fullWidth(standard);
        @include tablet {
          position: initial;
        }
      }

      @include tablet {
        flex-basis: 40%;
        // min-height: 200px;
      }
    }

    &-others {
      flex-basis: 60%;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      font-size: 14px;

      &__role {
        font-weight: bold;
      }

      &__title {
        font-size: 1rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #D6D6D6;
      }
    }

    &-content {
      padding: 1.6rem 3.2rem;
      flex-basis: 75%;

      @include tablet {
        flex-basis: 100%;
        padding: 1.6rem 1rem;
        flex-direction: column;
      }
    }

    &-header {
      position: relative;
      padding-bottom: 1.25rem;
      margin-bottom: 1.25rem;

      &::after {
        content: '';
        position: absolute;
        width: calc(100% + (2 * 3.2rem));
        height: 1px;
        background-color: #D5D5D5;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &__title {
        color: $accent;
        font-size: 1.5rem;
        text-transform: uppercase;
      }

      &>p {
        margin-bottom: .3rem;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__role {
        font-weight: 800;
      }
    }


    &-buttons {
      margin-top: 2rem;

      &>a {
        margin: 0 1.2rem 1.2rem 0;

        &:last-child {
          margin-right: 0;
          margin-bottom: 0;
        }
      }

      @include tablet {
        display: flex;
        flex-direction: column;
        margin: 2em 0 0;
        flex-basis: 100%;

        &>a {
          width: 100%;
        }
      }

    }
  }

  &-divider {
    display: block;
    height: 1px;
    background-color: #E6E6E6;
    width: 100%;
    margin: 3.2rem 0;
  }
}