@import '../scss/utils/mixins';
@import '../scss/utils/variables';

@mixin more-video {
  &::before {
    content: '';
    @include fullWidth(standard);
    @include arrow-next("../");
    background-image: url( '../img/icon-play.svg' );
    background-position: center center;
    transition: background-color .3s ease;
  }

  &:hover {
    &::before {
      background-color: rgba($accent, 0.7);
    }
  }
}

.videos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  @include tablet{
    flex-direction: column;
  }

  img {
    display: block;
    object-fit: cover;
    object-position: center;
    display: block;
    width: 100%;
    height: 100%;
  }

  &-featured {
    flex: 0 0 calc(100% - 610px - 2.5rem);

    @include maxwidth(1200px) {
      flex-basis: 49%;
    }

    &__url {
      position: relative;
      display: block;
      @include more-video;
      height: 100%;

    }
  }

  &-grid {
    flex: 0 0 610px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @include maxwidth(1200px) {
      flex-basis: 49%;
    }

    @include tablet{
      margin-top: 16px;
    }

    &__single {
      flex: 0 0 calc(50% - 16px);
      height: calc(50% - 16px);
      margin-bottom: 32px;
      position: relative;

      @include maxwidth(1200px) {
        flex: 0 0 calc(50% - 8px);
        margin-bottom: 16px;
      }
      

      &:nth-last-child(1),
      &:nth-last-child(2) {
        margin-bottom: 0;
      }

      @include more-video;
    }

    &__image {
      @include fullWidth(standard);
    }

  }
}